Add first csv

In [22]:
import pandas as pd

df = pd.read_csv('by_hand_new_data2.csv')
df

                                                  text  post_type
0    ['อนุญาติ', 'ขาย', 'Macbook', 'pro', '13', 'in...          1
1                              ['ทำ', 'หาย', 'ติดต่อ']          0
2    ['อนุญาต', 'หา', 'แมว', 'น้อง', 'ชื่อ', 'บัมกิ...          0
3    ['อนุญาต', 'รบกวน', 'รับผิดชอบ', 'คน', 'ทำ', '...          3
4    ['สอบถาม', 'ผม', 'ทำ', 'บัตร', 'ศึกษา', 'หาย',...          3
..                                                 ...        ...
126  ['ประกาศ', 'ขาย', 'สัญญา', 'หอ', 'ST', 'Place'...          1
127  ['ขาย', 'สัญญา', 'หออรอ', 'นงค์', 'ตึก', 'เฟอร...          1
128  ['ขาย', 'สัญญา', 'หอ', 'พัก', 'บ้าน', 'ร่มเย็น...          1
129  ['ญาต', 'ฝาก', 'ขาย', 'ตู้', 'เย็น', 'สภาพ', '...          1
130  ['ขาย', 'สัญญาหอ', 'RS', '5000', 'บาท', 'ตึก',...          1

[131 rows x 2 columns]

Drop duplicate

In [23]:
df.drop_duplicates(keep='first', inplace=True)
df.shape

(127, 2)

Check post_type unique

In [24]:
df['post_type'].unique()

array([1, 0, 3], dtype=int64)

replace the unique

In [13]:
df = df.replace({'mumu':3, 'ประกาศซื้อขาย':1, 'ประกาศของหาย':0})

In [14]:
df['post_type'].unique()

array([3, 0, 1], dtype=int64)

Drop unwanted data

In [15]:
df.drop('username', inplace=True, axis=1)
df.drop('user_id', inplace=True, axis=1)
df.drop('image', inplace=True, axis=1)
df.drop('date_time', inplace=True, axis=1)
df

                                                 text  post_type
0   ['อัพเดท', '01082022', 'แผนที่', 'เดิม', 'ลอง'...          3
1   ['สอบถาม', 'รู้', 'โดน', 'รีไทร์', 'ดู', 'เลข'...          3
2   ['ไอแพด', 'ลืม', 'ห้อง', 'ปฏิบัติการ', 'ฟิสิกส...          0
3   ['แนะนำ', 'สอบ', 'สัมภาษณ์', 'รุ่น', 'พี่', 'B...          3
4   ['แนะนำ', 'หนังสือ', 'อ่าน', 'สอบ', 'สอบ', 'วท...          3
..                                                ...        ...
88  ['บุญ', 'เบื้องหลัง', 'สุข', 'สำเร็จ', 'ชีวิต'...          3
89  ['เจอ', 'กุญแจ', 'มอไซต์', 'xmax', 'สี', 'ดำ',...          0
90                ['มอ', 'แมลง', 'ทอด', 'ขาย', 'กิน']          1
91  ['ผม', 'สอบถาม', 'พี่', 'สำหรับ', 'PnET', 'PE'...          3
92  ['อนุญาต', 'สอบถาม', 'แถว', 'มอเรา', 'คลินิก',...          3

[93 rows x 2 columns]

-------------------------------------------

Add second data frame

In [25]:
df2 = pd.read_csv('new_data.csv')
df2

     Unnamed: 0  post_type                                               text
0             0          1  ['หา', 'สัญญา', 'หอ', 'มจพ', 'ย้าย', 'ปลาย', '...
1             1          1  ['ขาย', 'ตั๋วหนัง', 'black', 'panther', 'โรง',...
2             2          1  ['กระโปรง', 'ศึกษา', 'เอว', '24', '28', 'เอว',...
3             3          1  ['อนุญาต', 'ขาย', 'ขาย', 'ตู้', 'เย็น', 'Midea...
4             4          1  ['XX', 'คน', 'เช่า', 'XX', 'อนุญาต', 'ประกาศ',...
..          ...        ...                                                ...
849         849          3  ['สอบถาม', 'เอกสาร', 'เบิก', 'เทอม', 'ปี', '58...
850         850          3  ['แถว', 'มอ', 'ร้าน', 'ถ่าย', 'รูป', 'ศึกษา', ...
851         851          3  ['รบกวน', 'นิดนึง', 'เรื่อง', 'ดูดพอต', 'มอ', ...
852         852          0  ['แอร์พอต', 'เจน', '2', 'ขวา', 'ร่วง', 'มอบ้าง...
853         853          3  ['พี่', 'รี', 'วิว', 'วิชา', 'สาขา', 'เซรามิก'...

[854 rows x 3 columns]

Drop "	Unnamed: 0 "

In [26]:
df2.drop('Unnamed: 0', inplace=True, axis=1)
df2

     post_type                                               text
0            1  ['หา', 'สัญญา', 'หอ', 'มจพ', 'ย้าย', 'ปลาย', '...
1            1  ['ขาย', 'ตั๋วหนัง', 'black', 'panther', 'โรง',...
2            1  ['กระโปรง', 'ศึกษา', 'เอว', '24', '28', 'เอว',...
3            1  ['อนุญาต', 'ขาย', 'ขาย', 'ตู้', 'เย็น', 'Midea...
4            1  ['XX', 'คน', 'เช่า', 'XX', 'อนุญาต', 'ประกาศ',...
..         ...                                                ...
849          3  ['สอบถาม', 'เอกสาร', 'เบิก', 'เทอม', 'ปี', '58...
850          3  ['แถว', 'มอ', 'ร้าน', 'ถ่าย', 'รูป', 'ศึกษา', ...
851          3  ['รบกวน', 'นิดนึง', 'เรื่อง', 'ดูดพอต', 'มอ', ...
852          0  ['แอร์พอต', 'เจน', '2', 'ขวา', 'ร่วง', 'มอบ้าง...
853          3  ['พี่', 'รี', 'วิว', 'วิชา', 'สาขา', 'เซรามิก'...

[854 rows x 2 columns]

APPEND 2 data frame

In [27]:
append_data = df2.append(df,ignore_index = True)
append_data.shape

C:\Users\Corgi\AppData\Local\Temp\ipykernel_6492\556518295.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  append_data = df2.append(df,ignore_index = True)

(981, 2)

In [19]:
append_data

     post_type                                               text
0            1  ['หา', 'สัญญา', 'หอ', 'มจพ', 'ย้าย', 'ปลาย', '...
1            1  ['ขาย', 'ตั๋วหนัง', 'black', 'panther', 'โรง',...
2            1  ['กระโปรง', 'ศึกษา', 'เอว', '24', '28', 'เอว',...
3            1  ['อนุญาต', 'ขาย', 'ขาย', 'ตู้', 'เย็น', 'Midea...
4            1  ['XX', 'คน', 'เช่า', 'XX', 'อนุญาต', 'ประกาศ',...
..         ...                                                ...
910          3  ['บุญ', 'เบื้องหลัง', 'สุข', 'สำเร็จ', 'ชีวิต'...
911          0  ['เจอ', 'กุญแจ', 'มอไซต์', 'xmax', 'สี', 'ดำ',...
912          1                ['มอ', 'แมลง', 'ทอด', 'ขาย', 'กิน']
913          3  ['ผม', 'สอบถาม', 'พี่', 'สำหรับ', 'PnET', 'PE'...
914          3  ['อนุญาต', 'สอบถาม', 'แถว', 'มอเรา', 'คลินิก',...

[915 rows x 2 columns]

Drop duplicate before save

In [28]:
append_data.drop_duplicates(keep='first', inplace=True,ignore_index = True)
append_data.shape

(854, 2)

Save to csv

In [29]:
append_data.to_csv("new_data.csv")