Add first csv

In [1]:
import pandas as pd

df = pd.read_csv('csv/temp_scapping_data.csv')
df.head()

,date_time,username,user_id,text,post_type,image
0,2020-05-10 16:38:42,F'teen Flukey'p,100008420610299,"['อัพเดท', '01082022', 'แผนที่', 'เดิม', 'ลอง'...",mumu,['https://m.facebook.com/photo/view_full_size/...
1,2023-01-25 23:17:00,Kittisak Deeging,1086698072,"['ห้อง', 'ผม', 'ฝาก', 'แชร์', 'ประกาศ', 'เช่า'...",ประกาศซื้อขาย,['https://m.facebook.com/photo/view_full_size/...
2,2023-01-11 16:51:09,Jinjutha Sithornkul,100013709179161,"['ขาย', 'สาย', 'ชาร์จไอโฟน', 'usb', 'c', 'ligh...",ประกาศซื้อขาย,['https://m.facebook.com/photo/view_full_size/...
3,2023-02-01 17:11:33,Panuvit Temjai,100081157561233,"['พบเห็น', 'airpod', 'pro', 'หาย', 'ตึก', '82'...",ประกาศของหาย,['https://m.facebook.com/photo/view_full_size/...
4,2023-01-31 11:55:47,KMUTNB Community,3471662709756839,"['สอบถาม', 'พี่', 'ติด', 'IEE', 'วิศวะ', 'PnET...",mumu,[]

Drop duplicate

In [2]:
df.drop_duplicates(subset='text',keep='first', inplace=True)
df.shape

(532, 6)

Check post_type unique

In [3]:
df['post_type'].unique()

array(['mumu', 'ประกาศซื้อขาย', 'ประกาศของหาย', 'post_type'], dtype=object)

replace the unique

In [4]:
df = df.replace({'mumu':2, 'ประกาศซื้อขาย':1, 'ประกาศของหาย':0})

In [5]:
df['post_type'].unique()

array([2, 1, 0, 'post_type'], dtype=object)

Drop unwanted data

In [6]:
df.drop('username', inplace=True, axis=1)
df.drop('user_id', inplace=True, axis=1)
df.drop('image', inplace=True, axis=1)
df.drop('date_time', inplace=True, axis=1)
df

                                                   text post_type
0     ['อัพเดท', '01082022', 'แผนที่', 'เดิม', 'ลอง'...         2
1     ['ห้อง', 'ผม', 'ฝาก', 'แชร์', 'ประกาศ', 'เช่า'...         1
2     ['ขาย', 'สาย', 'ชาร์จไอโฟน', 'usb', 'c', 'ligh...         1
3     ['พบเห็น', 'airpod', 'pro', 'หาย', 'ตึก', '82'...         0
4     ['สอบถาม', 'พี่', 'ติด', 'IEE', 'วิศวะ', 'PnET...         2
...                                                 ...       ...
3267  ['ขาย', 'สัญญา', 'S9', 'Residence', 'ชั้น', '9...         1
3268  ['แนว', 'ข้อ', 'สอบ', 'รอบ', 'สอบตรง', 'สำหรับ...         2
3269  ['คน', 'ลืม', 'ศาลยีราฟ', 'ฝาก', 'ร้าน', 'ถ่าย...         0
3270  ['พี่', 'คน', 'รอบ', '2', 'สอบ', 'ข้อ', 'แนะนำ...         2
3271  ['รบกวน', 'แนวทาง', 'สอบ', 'ข้อ', 'รอบ', '2', ...         2

[532 rows x 2 columns]

Check label

In [7]:
df.to_csv("csv/check_label.csv")

add checked csv

In [2]:
df = pd.read_csv('csv/check_label.csv', index_col=0)
df

                                                   text  post_type
0     ['อัพเดท', '01082022', 'แผนที่', 'เดิม', 'ลอง'...          2
1     ['ห้อง', 'ผม', 'ฝาก', 'แชร์', 'ประกาศ', 'เช่า'...          1
2     ['ขาย', 'สาย', 'ชาร์จไอโฟน', 'usb', 'c', 'ligh...          2
3     ['พบเห็น', 'airpod', 'pro', 'หาย', 'ตึก', '82'...          0
4     ['สอบถาม', 'พี่', 'ติด', 'IEE', 'วิศวะ', 'PnET...          2
...                                                 ...        ...
3267  ['ขาย', 'สัญญา', 'S9', 'Residence', 'ชั้น', '9...          1
3268  ['แนว', 'ข้อ', 'สอบ', 'รอบ', 'สอบตรง', 'สำหรับ...          2
3269  ['คน', 'ลืม', 'ศาลยีราฟ', 'ฝาก', 'ร้าน', 'ถ่าย...          0
3270  ['พี่', 'คน', 'รอบ', '2', 'สอบ', 'ข้อ', 'แนะนำ...          2
3271  ['รบกวน', 'แนวทาง', 'สอบ', 'ข้อ', 'รอบ', '2', ...          2

[531 rows x 2 columns]

-------------------------------------------

Add second data frame

In [3]:
df2 = pd.read_csv('csv/new_data.csv')
df2

      post_type                                               text
0             2  ['หา', 'สัญญา', 'หอ', 'มจพ', 'ย้าย', 'ปลาย', '...
1             1  ['ขาย', 'ตั๋วหนัง', 'black', 'panther', 'โรง',...
2             1  ['อนุญาต', 'ขาย', 'ขาย', 'ตู้', 'เย็น', 'Midea...
3             1  ['XX', 'คน', 'เช่า', 'XX', 'อนุญาต', 'ประกาศ',...
4             1  ['ขาย', 'สัญญา', 'หอ', 'หมู่บ้าน', 'สิ', 'ริน'...
...         ...                                                ...
1404          2  ['แนว', 'ข้อ', 'สอบ', 'รอบ', 'สอบตรง', 'สำหรับ...
1405          0  ['คน', 'ลืม', 'ศาลยีราฟ', 'ฝาก', 'ร้าน', 'ถ่าย...
1406          2  ['พี่', 'คน', 'รอบ', '2', 'สอบ', 'ข้อ', 'แนะนำ...
1407          2  ['รบกวน', 'แนวทาง', 'สอบ', 'ข้อ', 'รอบ', '2', ...
1408          0  ['คน', 'ทำ', 'กุญแจ', 'ตก', 'เวที', 'สวน', 'ปา...

[1409 rows x 2 columns]

APPEND 2 data frame

In [4]:
append_data = df2.append(df)
append_data.shape

C:\Users\Corgi\AppData\Local\Temp\ipykernel_23948\3369879948.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  append_data = df2.append(df)

(1940, 2)

In [5]:
append_data

      post_type                                               text
0             2  ['หา', 'สัญญา', 'หอ', 'มจพ', 'ย้าย', 'ปลาย', '...
1             1  ['ขาย', 'ตั๋วหนัง', 'black', 'panther', 'โรง',...
2             1  ['อนุญาต', 'ขาย', 'ขาย', 'ตู้', 'เย็น', 'Midea...
3             1  ['XX', 'คน', 'เช่า', 'XX', 'อนุญาต', 'ประกาศ',...
4             1  ['ขาย', 'สัญญา', 'หอ', 'หมู่บ้าน', 'สิ', 'ริน'...
...         ...                                                ...
3267          1  ['ขาย', 'สัญญา', 'S9', 'Residence', 'ชั้น', '9...
3268          2  ['แนว', 'ข้อ', 'สอบ', 'รอบ', 'สอบตรง', 'สำหรับ...
3269          0  ['คน', 'ลืม', 'ศาลยีราฟ', 'ฝาก', 'ร้าน', 'ถ่าย...
3270          2  ['พี่', 'คน', 'รอบ', '2', 'สอบ', 'ข้อ', 'แนะนำ...
3271          2  ['รบกวน', 'แนวทาง', 'สอบ', 'ข้อ', 'รอบ', '2', ...

[1940 rows x 2 columns]

Drop duplicate before save

In [6]:
append_data.drop_duplicates(subset='text',keep='last', inplace=True,ignore_index = True)
print(append_data.shape)
print(append_data["post_type"].unique())

(1681, 2)
[ 2  1  0 20]

Save to csv

In [7]:
append_data.to_csv("csv/new_data.csv",index=False)