Add first csv

In [10]:
import pandas as pd

df = pd.read_csv('temp_scapping_data.csv')
df

,date_time,username,user_id,text,post_type,image
0,2020-05-10 16:38:42,F'teen Flukey'p,100008420610299,"['อัพเดท', '01082022', 'แผนที่', 'เดิม', 'ลอง'...",mumu,['https://m.facebook.com/photo/view_full_size/...
1,2023-01-17 18:59:20,KMUTNB Community,544869840823013,"['สอบถาม', 'รู้', 'โดน', 'รีไทร์', 'ดู', 'เลข'...",mumu,[]
2,2023-01-17 19:19:07,GusLaws Madeline Tereza Filippe,100004143000484,"['ไอแพด', 'ลืม', 'ห้อง', 'ปฏิบัติการ', 'ฟิสิกส...",ประกาศของหาย,['https://m.facebook.com/photo/view_full_size/...
3,2023-01-17 18:46:39,Palidao Khemkhan,100015352548863,"['แนะนำ', 'สอบ', 'สัมภาษณ์', 'รุ่น', 'พี่', 'B...",mumu,[]
4,2023-01-17 17:56:28,KMUTNB Community,546297487462147,"['แนะนำ', 'หนังสือ', 'อ่าน', 'สอบ', 'สอบ', 'วท...",mumu,[]
...,...,...,...,...,...,...
12643,2023-01-15 07:24:45,Thanachot Prasittankit,100009023302911,"['บุญ', 'เบื้องหลัง', 'สุข', 'สำเร็จ', 'ชีวิต'...",mumu,['https://scontent.fbkk29-9.fna.fbcdn.net/v/t3...
12644,2023-01-14 23:11:35,ชุติกาญจน์ อ่อนอุ่น,100005272809815,"['เจอ', 'กุญแจ', 'มอไซต์', 'xmax', 'สี', 'ดำ',...",ประกาศของหาย,[]
12645,2023-01-13 15:56:39,KMUTNB Community,440861364834082,"['มอ', 'แมลง', 'ทอด', 'ขาย', 'กิน']",ประกาศซื้อขาย,[]
12646,2023-01-13 20:38:42,KMUTNB Community,720430206353669,"['ผม', 'สอบถาม', 'พี่', 'สำหรับ', 'PnET', 'PE'...",mumu,[]
12647,2023-01-14 03:28:10,KMUTNB Community,1359561544847759,"['อนุญาต', 'สอบถาม', 'แถว', 'มอเรา', 'คลินิก',...",mumu,[]

Drop duplicate

In [11]:
df.drop_duplicates(keep='first', inplace=True)
df.shape

(93, 6)

Check post_type unique

In [12]:
df['post_type'].unique()

array(['mumu', 'ประกาศของหาย', 'ประกาศซื้อขาย'], dtype=object)

replace the unique

In [13]:
df = df.replace({'mumu':3, 'ประกาศซื้อขาย':1, 'ประกาศของหาย':0})

In [14]:
df['post_type'].unique()

array([3, 0, 1], dtype=int64)

Drop unwanted data

In [15]:
df.drop('username', inplace=True, axis=1)
df.drop('user_id', inplace=True, axis=1)
df.drop('image', inplace=True, axis=1)
df.drop('date_time', inplace=True, axis=1)
df

                                                 text  post_type
0   ['อัพเดท', '01082022', 'แผนที่', 'เดิม', 'ลอง'...          3
1   ['สอบถาม', 'รู้', 'โดน', 'รีไทร์', 'ดู', 'เลข'...          3
2   ['ไอแพด', 'ลืม', 'ห้อง', 'ปฏิบัติการ', 'ฟิสิกส...          0
3   ['แนะนำ', 'สอบ', 'สัมภาษณ์', 'รุ่น', 'พี่', 'B...          3
4   ['แนะนำ', 'หนังสือ', 'อ่าน', 'สอบ', 'สอบ', 'วท...          3
..                                                ...        ...
88  ['บุญ', 'เบื้องหลัง', 'สุข', 'สำเร็จ', 'ชีวิต'...          3
89  ['เจอ', 'กุญแจ', 'มอไซต์', 'xmax', 'สี', 'ดำ',...          0
90                ['มอ', 'แมลง', 'ทอด', 'ขาย', 'กิน']          1
91  ['ผม', 'สอบถาม', 'พี่', 'สำหรับ', 'PnET', 'PE'...          3
92  ['อนุญาต', 'สอบถาม', 'แถว', 'มอเรา', 'คลินิก',...          3

[93 rows x 2 columns]

-------------------------------------------

Add second data frame

In [16]:
df2 = pd.read_csv('new_data.csv')
df2

     Unnamed: 0  post_type                                               text
0             0          1  ['หา', 'สัญญา', 'หอ', 'มจพ', 'ย้าย', 'ปลาย', '...
1             1          1  ['ขาย', 'ตั๋วหนัง', 'black', 'panther', 'โรง',...
2             2          1  ['กระโปรง', 'ศึกษา', 'เอว', '24', '28', 'เอว',...
3             3          1  ['อนุญาต', 'ขาย', 'ขาย', 'ตู้', 'เย็น', 'Midea...
4             4          1  ['XX', 'คน', 'เช่า', 'XX', 'อนุญาต', 'ประกาศ',...
..          ...        ...                                                ...
817         817          1  ['ขาย', 'สัญญา', 'หอ', 'SPApartment', 'ราคา', ...
818         818          1  ['ประกาศ', 'ขาย', 'สัญญา', 'หอ', 'ST', 'Place'...
819         819          1  ['ขาย', 'สัญญา', 'หออรอ', 'นงค์', 'ตึก', 'เฟอร...
820         820          1  ['ญาต', 'ฝาก', 'ขาย', 'ตู้', 'เย็น', 'สภาพ', '...
821         821          1  ['ขาย', 'สัญญาหอ', 'RS', '5000', 'บาท', 'ตึก',...

[822 rows x 3 columns]

Drop "	Unnamed: 0 "

In [17]:
df2.drop('Unnamed: 0', inplace=True, axis=1)
df2

     post_type                                               text
0            1  ['หา', 'สัญญา', 'หอ', 'มจพ', 'ย้าย', 'ปลาย', '...
1            1  ['ขาย', 'ตั๋วหนัง', 'black', 'panther', 'โรง',...
2            1  ['กระโปรง', 'ศึกษา', 'เอว', '24', '28', 'เอว',...
3            1  ['อนุญาต', 'ขาย', 'ขาย', 'ตู้', 'เย็น', 'Midea...
4            1  ['XX', 'คน', 'เช่า', 'XX', 'อนุญาต', 'ประกาศ',...
..         ...                                                ...
817          1  ['ขาย', 'สัญญา', 'หอ', 'SPApartment', 'ราคา', ...
818          1  ['ประกาศ', 'ขาย', 'สัญญา', 'หอ', 'ST', 'Place'...
819          1  ['ขาย', 'สัญญา', 'หออรอ', 'นงค์', 'ตึก', 'เฟอร...
820          1  ['ญาต', 'ฝาก', 'ขาย', 'ตู้', 'เย็น', 'สภาพ', '...
821          1  ['ขาย', 'สัญญาหอ', 'RS', '5000', 'บาท', 'ตึก',...

[822 rows x 2 columns]

APPEND 2 data frame

In [18]:
append_data = df2.append(df,ignore_index = True)
append_data.shape

C:\Users\Corgi\AppData\Local\Temp\ipykernel_6492\556518295.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  append_data = df2.append(df,ignore_index = True)

(915, 2)

In [19]:
append_data

     post_type                                               text
0            1  ['หา', 'สัญญา', 'หอ', 'มจพ', 'ย้าย', 'ปลาย', '...
1            1  ['ขาย', 'ตั๋วหนัง', 'black', 'panther', 'โรง',...
2            1  ['กระโปรง', 'ศึกษา', 'เอว', '24', '28', 'เอว',...
3            1  ['อนุญาต', 'ขาย', 'ขาย', 'ตู้', 'เย็น', 'Midea...
4            1  ['XX', 'คน', 'เช่า', 'XX', 'อนุญาต', 'ประกาศ',...
..         ...                                                ...
910          3  ['บุญ', 'เบื้องหลัง', 'สุข', 'สำเร็จ', 'ชีวิต'...
911          0  ['เจอ', 'กุญแจ', 'มอไซต์', 'xmax', 'สี', 'ดำ',...
912          1                ['มอ', 'แมลง', 'ทอด', 'ขาย', 'กิน']
913          3  ['ผม', 'สอบถาม', 'พี่', 'สำหรับ', 'PnET', 'PE'...
914          3  ['อนุญาต', 'สอบถาม', 'แถว', 'มอเรา', 'คลินิก',...

[915 rows x 2 columns]

Drop duplicate before save

In [20]:
append_data.drop_duplicates(keep='first', inplace=True,ignore_index = True)
append_data.shape

(854, 2)

Save to csv

In [21]:
append_data.to_csv("new_data.csv")