Add first csv

In [2]:
import pandas as pd

df = pd.read_csv('csv/temp_scapping_data.csv')
df.head()

,date_time,username,user_id,text,post_type,image
0,2020-05-10 16:38:42,F'teen Flukey'p,100008420610299,"['อัพเดท', '01082022', 'แผนที่', 'เดิม', 'ลอง'...",mumu,['https://m.facebook.com/photo/view_full_size/...
1,2023-01-21 15:25:29,Tommakorn Ciw,100002958265749,"['เครื่อง', 'เลข', 'ปล่อย', 'ขาย']",ประกาศซื้อขาย,['https://m.facebook.com/photo/view_full_size/...
2,2023-01-21 15:38:31,Run Rahat,100030199384363,"['เชิญชาว', 'มจพ', 'สร้าง', 'ตลาด', 'นัด', 'งา...",mumu,['https://m.facebook.com/photo/view_full_size/...
3,2022-11-11 16:55:46,Bam Worralak,100028538801507,"['ขาย', 'เข็มขัด', 'หัว', 'ค้า', 'ซื้อ', '120'...",ประกาศซื้อขาย,['https://m.facebook.com/photo/view_full_size/...
4,2023-01-19 23:48:08,Chanya Thaworn,100012033094959,"['สรุป', 'ENG', 'II', 'midterm', 'ค้าบ']",mumu,['https://m.facebook.com/photo/view_full_size/...

Drop duplicate

In [3]:
df.drop_duplicates(subset='text',keep='first', inplace=True)
df.shape

(101, 6)

Check post_type unique

In [4]:
df['post_type'].unique()

array(['mumu', 'ประกาศซื้อขาย', 'ประกาศของหาย'], dtype=object)

replace the unique

In [5]:
df = df.replace({'mumu':3, 'ประกาศซื้อขาย':1, 'ประกาศของหาย':0})

In [6]:
df['post_type'].unique()

array([3, 1, 0], dtype=int64)

Drop unwanted data

In [7]:
df.drop('username', inplace=True, axis=1)
df.drop('user_id', inplace=True, axis=1)
df.drop('image', inplace=True, axis=1)
df.drop('date_time', inplace=True, axis=1)
df

                                                  text  post_type
0    ['อัพเดท', '01082022', 'แผนที่', 'เดิม', 'ลอง'...          3
1                   ['เครื่อง', 'เลข', 'ปล่อย', 'ขาย']          1
2    ['เชิญชาว', 'มจพ', 'สร้าง', 'ตลาด', 'นัด', 'งา...          3
3    ['ขาย', 'เข็มขัด', 'หัว', 'ค้า', 'ซื้อ', '120'...          1
4             ['สรุป', 'ENG', 'II', 'midterm', 'ค้าบ']          3
..                                                 ...        ...
96         ['หา', 'สัญญา', 'หอ', 'S9', 'รีบ', 'เดือน']          3
97   ['หนังสือ', 'สอบ', 'ข้อ', 'มจพ', 'แนะนำ', 'แหล...          3
98                           ['ประกาศ', 'ชื่อ', 'น้า']          3
99   ['PnetPE', 'เรื่อง', 'เรียน', 'สังคม', 'พี่', ...          3
100  ['ขาย', 'อนุญาติขาย', 'ตู้', 'เย็น', 'ราคา', '...          1

[101 rows x 2 columns]

Check label

In [8]:
df.to_csv("csv/check_label.csv")

add checked csv

In [11]:
df = pd.read_csv('csv/check_label.csv', index_col=0)
df

                                                  text  post_type
0    ['อัพเดท', '01082022', 'แผนที่', 'เดิม', 'ลอง'...          3
1                   ['เครื่อง', 'เลข', 'ปล่อย', 'ขาย']          1
2    ['เชิญชาว', 'มจพ', 'สร้าง', 'ตลาด', 'นัด', 'งา...          3
3    ['ขาย', 'เข็มขัด', 'หัว', 'ค้า', 'ซื้อ', '120'...          1
4             ['สรุป', 'ENG', 'II', 'midterm', 'ค้าบ']          3
..                                                 ...        ...
96         ['หา', 'สัญญา', 'หอ', 'S9', 'รีบ', 'เดือน']          3
97   ['หนังสือ', 'สอบ', 'ข้อ', 'มจพ', 'แนะนำ', 'แหล...          3
98                           ['ประกาศ', 'ชื่อ', 'น้า']          3
99   ['PnetPE', 'เรื่อง', 'เรียน', 'สังคม', 'พี่', ...          3
100  ['ขาย', 'อนุญาติขาย', 'ตู้', 'เย็น', 'ราคา', '...          1

[101 rows x 2 columns]

-------------------------------------------

Add second data frame

In [13]:
df2 = pd.read_csv('csv/new_data.csv')
df2

      post_type                                               text
0             3  ['หา', 'สัญญา', 'หอ', 'มจพ', 'ย้าย', 'ปลาย', '...
1             1  ['ขาย', 'ตั๋วหนัง', 'black', 'panther', 'โรง',...
2             1  ['กระโปรง', 'ศึกษา', 'เอว', '24', '28', 'เอว',...
3             1  ['อนุญาต', 'ขาย', 'ขาย', 'ตู้', 'เย็น', 'Midea...
4             1  ['XX', 'คน', 'เช่า', 'XX', 'อนุญาต', 'ประกาศ',...
...         ...                                                ...
1032          3  ['หา', 'คน', 'ติว', 'วิชา', 'fluid', 'mechanic...
1033          3                                   ['น้อง', 'สนใจ']
1034          3  ['คัด', 'ศึกษา', 'รหัส', '65', 'ปี', 'พศ', '25...
1035          1  ['ขาย', 'สัญญา', 'เช่า', 'คอนโด', 'รีเจนท์โฮม'...
1036          0  ['ทำ', 'โทรศัพท์', 'ตก', 'หน้า', 'ulife', 'pri...

[1037 rows x 2 columns]

APPEND 2 data frame

In [14]:
append_data = df2.append(df)
append_data.shape

C:\Users\Corgi\AppData\Local\Temp\ipykernel_24400\3369879948.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  append_data = df2.append(df)

(1138, 2)

In [15]:
append_data

     post_type                                               text
0            3  ['หา', 'สัญญา', 'หอ', 'มจพ', 'ย้าย', 'ปลาย', '...
1            1  ['ขาย', 'ตั๋วหนัง', 'black', 'panther', 'โรง',...
2            1  ['กระโปรง', 'ศึกษา', 'เอว', '24', '28', 'เอว',...
3            1  ['อนุญาต', 'ขาย', 'ขาย', 'ตู้', 'เย็น', 'Midea...
4            1  ['XX', 'คน', 'เช่า', 'XX', 'อนุญาต', 'ประกาศ',...
..         ...                                                ...
96           3        ['หา', 'สัญญา', 'หอ', 'S9', 'รีบ', 'เดือน']
97           3  ['หนังสือ', 'สอบ', 'ข้อ', 'มจพ', 'แนะนำ', 'แหล...
98           3                          ['ประกาศ', 'ชื่อ', 'น้า']
99           3  ['PnetPE', 'เรื่อง', 'เรียน', 'สังคม', 'พี่', ...
100          1  ['ขาย', 'อนุญาติขาย', 'ตู้', 'เย็น', 'ราคา', '...

[1138 rows x 2 columns]

Drop duplicate before save

In [16]:
append_data.drop_duplicates(subset='text',keep='last', inplace=True,ignore_index = True)
print(append_data.shape)
print(append_data["post_type"].unique())

(1103, 2)
[3 1 0]

Save to csv

In [17]:
append_data.to_csv("csv/new_data.csv",index=False)