Add first csv

In [32]:
import pandas as pd

df = pd.read_csv('by_hand_new_data3.csv')
df.head()

                                                text  post_type
0  ['เจอ', 'บัตร', 'นิสิต', 'ตู้', 'กด', 'เงิน', ...          0
1  ['อนุญาต', 'หา', 'กระเป๋า', 'ตังค์', 'สี', 'เท...          0
2  ['อนุญาต', 'หา', 'กระเป๋า', 'ตังค์', 'สี', 'เท...          0
3      ['ติดต่อ', 'เคาน์เตอร์', '711', 'ประตู', '6']          0
4  ['เจอ', 'ตรงสระ', 'ฝั่ง', 'คณะ', 'เภสัชค้าบ', ...          0

Drop duplicate

In [33]:
df.drop_duplicates(subset='text',keep='last', inplace=True)

Check post_type unique

In [34]:
df['post_type'].unique()
df.shape

(52, 2)

replace the unique

In [4]:
df = df.replace({'mumu':3, 'ประกาศซื้อขาย':1, 'ประกาศของหาย':0})

In [35]:
df['post_type'].unique()

array([0], dtype=int64)

Drop unwanted data

In [6]:
df.drop('username', inplace=True, axis=1)
df.drop('user_id', inplace=True, axis=1)
df.drop('image', inplace=True, axis=1)
df.drop('date_time', inplace=True, axis=1)
df

                                                 text  post_type
0   ['อัพเดท', '01082022', 'แผนที่', 'เดิม', 'ลอง'...          3
1   ['ขายคีย์บอร์ด', 'Maxfit108', 'ราคา', '1000', ...          3
2                           ['ประกาศ', 'ชื่อ', 'น้า']          3
3   ['แนว', 'ข้อ', 'สอบ', 'รอบ', 'สอบตรง', 'สำหรับ...          3
4                 ['หา', 'เพื่อน', 'ติว', 'แมท', '2']          3
..                                                ...        ...
95  ['รบกวน', 'นิดนึง', 'เรื่อง', 'ดูดพอต', 'มอ', ...          3
96  ['รุ่น', 'พี่', 'CE', 'แนะนำ', 'เรียน', 'สังคม...          3
97  ['Iphone', 'ทิ้ง', 'ห้องน้ำ', 'ชาย', 'ฝาก', 'ป...          3
98  ['แอร์พอต', 'เจน', '2', 'ขวา', 'ร่วง', 'มอบ้าง...          0
99  ['สอบถาม', 'วิชา', 'เสรี', 'science', 'daily',...          3

[100 rows x 2 columns]

Check label

In [7]:
df.to_csv("check_label.csv")

add checked csv

In [26]:
df = pd.read_csv('check_label.csv', index_col=0)
df

                                                 text  post_type
0   ['อัพเดท', '01082022', 'แผนที่', 'เดิม', 'ลอง'...          3
1   ['ขายคีย์บอร์ด', 'Maxfit108', 'ราคา', '1000', ...          1
2                           ['ประกาศ', 'ชื่อ', 'น้า']          3
3   ['แนว', 'ข้อ', 'สอบ', 'รอบ', 'สอบตรง', 'สำหรับ...          3
4                 ['หา', 'เพื่อน', 'ติว', 'แมท', '2']          3
..                                                ...        ...
95  ['รบกวน', 'นิดนึง', 'เรื่อง', 'ดูดพอต', 'มอ', ...          3
96  ['รุ่น', 'พี่', 'CE', 'แนะนำ', 'เรียน', 'สังคม...          3
97  ['Iphone', 'ทิ้ง', 'ห้องน้ำ', 'ชาย', 'ฝาก', 'ป...          0
98  ['แอร์พอต', 'เจน', '2', 'ขวา', 'ร่วง', 'มอบ้าง...          0
99  ['สอบถาม', 'วิชา', 'เสรี', 'science', 'daily',...          3

[100 rows x 2 columns]

-------------------------------------------

Add second data frame

In [36]:
df2 = pd.read_csv('new_data.csv')
df2

     post_type                                               text
0            3  ['หา', 'สัญญา', 'หอ', 'มจพ', 'ย้าย', 'ปลาย', '...
1            1  ['ขาย', 'ตั๋วหนัง', 'black', 'panther', 'โรง',...
2            1  ['กระโปรง', 'ศึกษา', 'เอว', '24', '28', 'เอว',...
3            1  ['อนุญาต', 'ขาย', 'ขาย', 'ตู้', 'เย็น', 'Midea...
4            1  ['XX', 'คน', 'เช่า', 'XX', 'อนุญาต', 'ประกาศ',...
..         ...                                                ...
891          3  ['สอบถาม', 'รุ่น', 'พี่', 'Itbl', 'การเรียนการ...
892          3  ['สอบถาม', 'เรื่อง', 'ทุน', 'ศึกษา', 'คณะครุศา...
893          1  ['ปล่อย', 'เช่า', 'แนะนำ', 'ห้อง', 'ว่าง', 'รา...
894          0    ['เจอ', 'แฟ้ม', 'สนาม', 'ฟุตบอล', 'ฝาก', 'ยาม']
895          1  ['อนุญาต', 'แอดมิน', 'ย้าย', 'หอ', 'ขน', 'สนใจ...

[896 rows x 2 columns]

APPEND 2 data frame

In [37]:
append_data = df2.append(df)
append_data.shape

C:\Users\Corgi\AppData\Local\Temp\ipykernel_2456\3369879948.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  append_data = df2.append(df)

(948, 2)

In [38]:
append_data

    post_type                                               text
0           3  ['หา', 'สัญญา', 'หอ', 'มจพ', 'ย้าย', 'ปลาย', '...
1           1  ['ขาย', 'ตั๋วหนัง', 'black', 'panther', 'โรง',...
2           1  ['กระโปรง', 'ศึกษา', 'เอว', '24', '28', 'เอว',...
3           1  ['อนุญาต', 'ขาย', 'ขาย', 'ตู้', 'เย็น', 'Midea...
4           1  ['XX', 'คน', 'เช่า', 'XX', 'อนุญาต', 'ประกาศ',...
..        ...                                                ...
50          0           ['เจอ', 'กระเป๋า', 'รูป', 'ฝาก', 'ร้าน']
51          0  ['พวง', 'กุญแจ', 'รถ', 'หล่น', 'สะพาน', 'เขียว...
52          0  ['เจ้าของ', 'บัตร', 'ลืม', 'ติดต่อ', 'ร้านริมน...
53          0  ['อนุญาต', 'ตามหา', 'แมว', 'หาย', 'น้อง', 'รบก...
54          0  ['เจอ', 'แอพอ', 'ทตก', 'หน้า', 'ร้าน', 'ขาย', ...

[948 rows x 2 columns]

Drop duplicate before save

In [42]:
append_data.drop_duplicates(subset='text',keep='last', inplace=True,ignore_index = True)
print(append_data.shape)
print(append_data["post_type"].unique())

(948, 2)
[3 1 0]

Save to csv

In [43]:
append_data.to_csv("new_data.csv",index=False)