Add first csv

In [5]:
import pandas as pd

df = pd.read_csv('by_hand_new_data.csv')
df

                                                  text  post_type
0    ['หา', 'อาจารย์', 'ชาตรี', 'มหัทธน', 'basic', ...          3
1                                              ['หรอ']          3
2    ['หา', 'เพื่อนน้อง', 'เด็ก', 'ซิ่ว', 'Dekhybri...          3
3    ['แนะนำ', 'อาจารย์', 'สอน', 'ท็อป', 'ฟอร์ม', '...          3
4    ['แนะนำ', 'เกี่ยว', 'สาขา', 'เรียน', 'เกี่ยว',...          3
..                                                 ...        ...
158  ['พี่', 'หอ', 'พัก', 'แนะนำ', 'ไหม', 'ใกล้ม', ...          3
159  ['สำนักหอสมุด', 'กลาง', 'ขยาย', 'เวลา', '4', '...          3
160  ['ตอน', 'หอ', 'มอ', 'ว่าง', 'ขาย', 'สัญญา', 'หอ']          3
161  ['อนุญาต', '3', 'ชั้น', 'ขนาด', 'มาตรฐาน', 'น้...          1
162  ['หิ้ว', 'น้า', 'เด้ออ', '5', 'มิถุน้า', 'สนใจ...          1

[163 rows x 2 columns]

Drop duplicate

In [6]:
df.drop_duplicates(keep='first', inplace=True)
df.shape

(162, 2)

Check post_type unique

In [7]:
df['post_type'].unique()

array([3, 1, 0], dtype=int64)

replace the unique

In [ ]:
df = df.replace({'mumu':3, 'ประกาศซื้อขาย':1, 'ประกาศของหาย':0})

In [8]:
df['post_type'].unique()

array([3, 1, 0], dtype=int64)

Drop unwanted data

In [ ]:
df.drop('username', inplace=True, axis=1)
df.drop('user_id', inplace=True, axis=1)
df.drop('image', inplace=True, axis=1)
df.drop('date_time', inplace=True, axis=1)
df

                                                 text  post_type
0   ['อัพเดท', '01082022', 'แผนที่', 'เดิม', 'ลอง'...          3
1   ['PnetPE', 'เรื่อง', 'เรียน', 'สังคม', 'พี่', ...          3
2   ['ร้าน', 'อาหาร', 'มอ', 'ไหม', 'ผม', 'ย้าย', '...          3
3   ['ขาย', 'เครื่อง', 'คิดเลข', 'deli', 'd', '82e...          1
4   ['แนะนำ', 'หอ', 'พัก', 'ราคา', '4000', 'แอร์ไว...          3
..                                                ...        ...
89  ['แถว', 'ร้าน', 'ซ่อม', 'เครื่อง', 'ถ่าย', 'เอ...          3
90  ['ประกาศ', '10', 'มค66', 'เวลา', '0951', 'น', ...          0
91  ['บัตร', 'นั', 'กศึกษา', 'บัตร', 'ATM', 'ธนาคา...          3
92  ['สอบถาม', 'หน่อ', 'คน', 'สมาชิก', 'ชมรมเพาะ',...          3
93  ['ย้าย', 'หอ', 'ปล่อย', 'แต่ง', 'ห้อง', 'คับ',...          1

[94 rows x 2 columns]

-------------------------------------------

Add second data frame

In [35]:
df2 = pd.read_csv('new_data.csv')
df2

     Unnamed: 0  post_type                                               text
0             0          1  ['หา', 'สัญญา', 'หอ', 'มจพ', 'ย้าย', 'ปลาย', '...
1             1          1  ['ขาย', 'ตั๋วหนัง', 'black', 'panther', 'โรง',...
2             2          1  ['กระโปรง', 'ศึกษา', 'เอว', '24', '28', 'เอว',...
3             3          1  ['อนุญาต', 'ขาย', 'ขาย', 'ตู้', 'เย็น', 'Midea...
4             4          1  ['XX', 'คน', 'เช่า', 'XX', 'อนุญาต', 'ประกาศ',...
..          ...        ...                                                ...
760         760          3  ['พี่', 'หอ', 'พัก', 'แนะนำ', 'ไหม', 'ใกล้ม', ...
761         761          3  ['สำนักหอสมุด', 'กลาง', 'ขยาย', 'เวลา', '4', '...
762         762          3  ['ตอน', 'หอ', 'มอ', 'ว่าง', 'ขาย', 'สัญญา', 'หอ']
763         763          1  ['อนุญาต', '3', 'ชั้น', 'ขนาด', 'มาตรฐาน', 'น้...
764         764          1  ['หิ้ว', 'น้า', 'เด้ออ', '5', 'มิถุน้า', 'สนใจ...

[765 rows x 3 columns]

Drop "	Unnamed: 0 "

In [36]:
df2.drop('Unnamed: 0', inplace=True, axis=1)
df2

     post_type                                               text
0            1  ['หา', 'สัญญา', 'หอ', 'มจพ', 'ย้าย', 'ปลาย', '...
1            1  ['ขาย', 'ตั๋วหนัง', 'black', 'panther', 'โรง',...
2            1  ['กระโปรง', 'ศึกษา', 'เอว', '24', '28', 'เอว',...
3            1  ['อนุญาต', 'ขาย', 'ขาย', 'ตู้', 'เย็น', 'Midea...
4            1  ['XX', 'คน', 'เช่า', 'XX', 'อนุญาต', 'ประกาศ',...
..         ...                                                ...
760          3  ['พี่', 'หอ', 'พัก', 'แนะนำ', 'ไหม', 'ใกล้ม', ...
761          3  ['สำนักหอสมุด', 'กลาง', 'ขยาย', 'เวลา', '4', '...
762          3  ['ตอน', 'หอ', 'มอ', 'ว่าง', 'ขาย', 'สัญญา', 'หอ']
763          1  ['อนุญาต', '3', 'ชั้น', 'ขนาด', 'มาตรฐาน', 'น้...
764          1  ['หิ้ว', 'น้า', 'เด้ออ', '5', 'มิถุน้า', 'สนใจ...

[765 rows x 2 columns]

APPEND 2 data frame

In [27]:
append_data = df2.append(df,ignore_index = True)
append_data.shape

C:\Users\Corgi\AppData\Local\Temp\ipykernel_15240\556518295.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  append_data = df2.append(df,ignore_index = True)

(765, 2)

In [28]:
append_data

     post_type                                               text
0            1  ['หา', 'สัญญา', 'หอ', 'มจพ', 'ย้าย', 'ปลาย', '...
1            1  ['ขาย', 'ตั๋วหนัง', 'black', 'panther', 'โรง',...
2            1  ['กระโปรง', 'ศึกษา', 'เอว', '24', '28', 'เอว',...
3            1  ['อนุญาต', 'ขาย', 'ขาย', 'ตู้', 'เย็น', 'Midea...
4            1  ['XX', 'คน', 'เช่า', 'XX', 'อนุญาต', 'ประกาศ',...
..         ...                                                ...
760          3  ['พี่', 'หอ', 'พัก', 'แนะนำ', 'ไหม', 'ใกล้ม', ...
761          3  ['สำนักหอสมุด', 'กลาง', 'ขยาย', 'เวลา', '4', '...
762          3  ['ตอน', 'หอ', 'มอ', 'ว่าง', 'ขาย', 'สัญญา', 'หอ']
763          1  ['อนุญาต', '3', 'ชั้น', 'ขนาด', 'มาตรฐาน', 'น้...
764          1  ['หิ้ว', 'น้า', 'เด้ออ', '5', 'มิถุน้า', 'สนใจ...

[765 rows x 2 columns]

Drop duplicate before save

In [37]:
df2.drop_duplicates(keep='first', inplace=True,ignore_index = True)
df2.shape

(710, 2)

Save to csv

In [40]:
# append_data.to_csv("new_data.csv")
df2.to_csv("new_data.csv")