Add first csv

In [1]:
import pandas as pd

df = pd.read_csv('temp_scapping_data.csv')
df.head()

,date_time,username,user_id,text,post_type,image
0,2020-05-10 16:38:42,F'teen Flukey'p,100008420610299,"['อัพเดท', '01082022', 'แผนที่', 'เดิม', 'ลอง'...",mumu,['https://m.facebook.com/photo/view_full_size/...
1,2023-01-19 01:19:09,Chanakiat Pansuwan,100009199375231,"['แปลก', 'ดี', 'หมาซอย', '11', 'กลัว', 'รถ', '...",mumu,[]
2,2023-01-23 22:00:28,KMUTNB Community,719355745987947,"['มอ', 'อยุธยา', 'หรอ', 'งาน', 'มรดก', 'โลก', ...",mumu,[]
3,2023-01-24 01:22:20,Jiranun Suphanthamat,100009580402983,"['อนุญาต', 'หา', 'แม่บ้', 'ทำ', 'หมคะ']",mumu,[]
4,2023-01-24 17:51:17,Hon Panupong,100003487186851,"['โทรศัพท์', 'ตก', 'วัด', 'กำแพง', 'ไหม', 'แถว...",ประกาศของหาย,['https://m.facebook.com/photo/view_full_size/...

Drop duplicate

In [2]:
df.drop_duplicates(subset='text',keep='first', inplace=True)
df.shape

(99, 6)

Check post_type unique

In [3]:
df['post_type'].unique()

array(['mumu', 'ประกาศของหาย', 'ประกาศซื้อขาย'], dtype=object)

replace the unique

In [4]:
df = df.replace({'mumu':3, 'ประกาศซื้อขาย':1, 'ประกาศของหาย':0})

In [5]:
df['post_type'].unique()

array([3, 0, 1], dtype=int64)

Drop unwanted data

In [6]:
df.drop('username', inplace=True, axis=1)
df.drop('user_id', inplace=True, axis=1)
df.drop('image', inplace=True, axis=1)
df.drop('date_time', inplace=True, axis=1)
df

                                                 text  post_type
0   ['อัพเดท', '01082022', 'แผนที่', 'เดิม', 'ลอง'...          3
1   ['แปลก', 'ดี', 'หมาซอย', '11', 'กลัว', 'รถ', '...          3
2   ['มอ', 'อยุธยา', 'หรอ', 'งาน', 'มรดก', 'โลก', ...          3
3             ['อนุญาต', 'หา', 'แม่บ้', 'ทำ', 'หมคะ']          3
4   ['โทรศัพท์', 'ตก', 'วัด', 'กำแพง', 'ไหม', 'แถว...          0
..                                                ...        ...
94  ['ร้านเตี๋ยว', 'เหอะ', 'ร้าน', 'ชา', 'ชัก', 'เ...          3
95  ['สายชาร์จ', 'Apple', 'ลืม', 'ห้อง', 'สมุด', '...          0
96  ['ขาย', 'เข็มขัด', 'หัว', 'ค้า', 'ซื้อ', '120'...          1
97  ['แมว', 'หาย', 'เจอ', 'รบกวน', 'แจ้ง', 'หาย', ...          0
98  ['ทราบ', 'รถ', 'ตู้', 'เซนลาด', 'ม', 'จพมี', '...          3

[99 rows x 2 columns]

Check label

In [7]:
df.to_csv("csv/check_label.csv")

add checked csv

In [8]:
df = pd.read_csv('csv/check_label.csv', index_col=0)
df

                                                 text  post_type
0   ['อัพเดท', '01082022', 'แผนที่', 'เดิม', 'ลอง'...          3
1   ['แปลก', 'ดี', 'หมาซอย', '11', 'กลัว', 'รถ', '...          3
2   ['มอ', 'อยุธยา', 'หรอ', 'งาน', 'มรดก', 'โลก', ...          3
3             ['อนุญาต', 'หา', 'แม่บ้', 'ทำ', 'หมคะ']          3
4   ['โทรศัพท์', 'ตก', 'วัด', 'กำแพง', 'ไหม', 'แถว...          0
..                                                ...        ...
94  ['ร้านเตี๋ยว', 'เหอะ', 'ร้าน', 'ชา', 'ชัก', 'เ...          3
95  ['สายชาร์จ', 'Apple', 'ลืม', 'ห้อง', 'สมุด', '...          0
96  ['ขาย', 'เข็มขัด', 'หัว', 'ค้า', 'ซื้อ', '120'...          1
97  ['แมว', 'หาย', 'เจอ', 'รบกวน', 'แจ้ง', 'หาย', ...          0
98  ['ทราบ', 'รถ', 'ตู้', 'เซนลาด', 'ม', 'จพมี', '...          3

[99 rows x 2 columns]

-------------------------------------------

Add second data frame

In [9]:
df2 = pd.read_csv('csv/new_data.csv')
df2

      post_type                                               text
0             3  ['หา', 'สัญญา', 'หอ', 'มจพ', 'ย้าย', 'ปลาย', '...
1             1  ['ขาย', 'ตั๋วหนัง', 'black', 'panther', 'โรง',...
2             1  ['อนุญาต', 'ขาย', 'ขาย', 'ตู้', 'เย็น', 'Midea...
3             1  ['XX', 'คน', 'เช่า', 'XX', 'อนุญาต', 'ประกาศ',...
4             1  ['ขาย', 'สัญญา', 'หอ', 'หมู่บ้าน', 'สิ', 'ริน'...
...         ...                                                ...
1098          3        ['หา', 'สัญญา', 'หอ', 'S9', 'รีบ', 'เดือน']
1099          3  ['หนังสือ', 'สอบ', 'ข้อ', 'มจพ', 'แนะนำ', 'แหล...
1100          3                          ['ประกาศ', 'ชื่อ', 'น้า']
1101          3  ['PnetPE', 'เรื่อง', 'เรียน', 'สังคม', 'พี่', ...
1102          1  ['ขาย', 'อนุญาติขาย', 'ตู้', 'เย็น', 'ราคา', '...

[1103 rows x 2 columns]

APPEND 2 data frame

In [10]:
append_data = df2.append(df)
append_data.shape

C:\Users\Corgi\AppData\Local\Temp\ipykernel_1648\3369879948.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  append_data = df2.append(df)

(1202, 2)

In [11]:
append_data

    post_type                                               text
0           3  ['หา', 'สัญญา', 'หอ', 'มจพ', 'ย้าย', 'ปลาย', '...
1           1  ['ขาย', 'ตั๋วหนัง', 'black', 'panther', 'โรง',...
2           1  ['อนุญาต', 'ขาย', 'ขาย', 'ตู้', 'เย็น', 'Midea...
3           1  ['XX', 'คน', 'เช่า', 'XX', 'อนุญาต', 'ประกาศ',...
4           1  ['ขาย', 'สัญญา', 'หอ', 'หมู่บ้าน', 'สิ', 'ริน'...
..        ...                                                ...
94          3  ['ร้านเตี๋ยว', 'เหอะ', 'ร้าน', 'ชา', 'ชัก', 'เ...
95          0  ['สายชาร์จ', 'Apple', 'ลืม', 'ห้อง', 'สมุด', '...
96          1  ['ขาย', 'เข็มขัด', 'หัว', 'ค้า', 'ซื้อ', '120'...
97          0  ['แมว', 'หาย', 'เจอ', 'รบกวน', 'แจ้ง', 'หาย', ...
98          3  ['ทราบ', 'รถ', 'ตู้', 'เซนลาด', 'ม', 'จพมี', '...

[1202 rows x 2 columns]

Drop duplicate before save

In [12]:
append_data.drop_duplicates(subset='text',keep='last', inplace=True,ignore_index = True)
print(append_data.shape)
print(append_data["post_type"].unique())

(1177, 2)
[3 1 0]

Save to csv

In [13]:
append_data.to_csv("csv/new_data.csv",index=False)