Add first csv

In [1]:
import pandas as pd

df = pd.read_csv('temp_scapping_data.csv', index_col=0)
df

,date_time,username,user_id,text,post_type,image
0,2020-05-10 16:38:42,F'teen Flukey'p,100008420610299,"['อัพเดท', '01082022', 'แผนที่', 'เดิม', 'ลอง'...",mumu,['https://m.facebook.com/photo/view_full_size/...
1,2023-01-18 20:13:43,Thapakorn Thongdee,100014472098591,"['ขายคีย์บอร์ด', 'Maxfit108', 'ราคา', '1000', ...",mumu,['https://m.facebook.com/photo/view_full_size/...
2,2023-01-18 20:21:17,Gate Natcha,100005539629130,"['ประกาศ', 'ชื่อ', 'น้า']",mumu,['https://m.facebook.com/photo/view_full_size/...
3,2023-01-18 20:31:54,Mew Sopha,100030046732835,"['แนว', 'ข้อ', 'สอบ', 'รอบ', 'สอบตรง', 'สำหรับ...",mumu,[]
4,2023-01-18 20:36:08,Mix Tanakorn,100013036141752,"['หา', 'เพื่อน', 'ติว', 'แมท', '2']",mumu,[]
...,...,...,...,...,...,...
15295,2023-01-03 17:02:44,KMUTNB Community,614037150224795,"['รบกวน', 'นิดนึง', 'เรื่อง', 'ดูดพอต', 'มอ', ...",mumu,[]
15296,2023-01-16 19:36:39,KMUTNB Community,842762133658774,"['รุ่น', 'พี่', 'CE', 'แนะนำ', 'เรียน', 'สังคม...",mumu,[]
15297,2023-01-16 16:53:04,Thanawat Jangthanong,100006158616381,"['Iphone', 'ทิ้ง', 'ห้องน้ำ', 'ชาย', 'ฝาก', 'ป...",mumu,['https://m.facebook.com/photo/view_full_size/...
15298,2023-01-16 20:27:45,Autairat Rujithanasombut,100014104568801,"['แอร์พอต', 'เจน', '2', 'ขวา', 'ร่วง', 'มอบ้าง...",ประกาศของหาย,[]
15299,2023-01-12 15:38:10,Auntika Thongnuangam,100001862112262,"['สอบถาม', 'วิชา', 'เสรี', 'science', 'daily',...",mumu,[]

Drop duplicate

In [2]:
df.drop_duplicates(keep='first', inplace=True)
df.shape

(100, 6)

Check post_type unique

In [3]:
df['post_type'].unique()

array(['mumu', 'ประกาศซื้อขาย', 'ประกาศของหาย'], dtype=object)

replace the unique

In [4]:
df = df.replace({'mumu':3, 'ประกาศซื้อขาย':1, 'ประกาศของหาย':0})

In [5]:
df['post_type'].unique()

array([3, 1, 0], dtype=int64)

Drop unwanted data

In [6]:
df.drop('username', inplace=True, axis=1)
df.drop('user_id', inplace=True, axis=1)
df.drop('image', inplace=True, axis=1)
df.drop('date_time', inplace=True, axis=1)
df

                                                 text  post_type
0   ['อัพเดท', '01082022', 'แผนที่', 'เดิม', 'ลอง'...          3
1   ['ขายคีย์บอร์ด', 'Maxfit108', 'ราคา', '1000', ...          3
2                           ['ประกาศ', 'ชื่อ', 'น้า']          3
3   ['แนว', 'ข้อ', 'สอบ', 'รอบ', 'สอบตรง', 'สำหรับ...          3
4                 ['หา', 'เพื่อน', 'ติว', 'แมท', '2']          3
..                                                ...        ...
95  ['รบกวน', 'นิดนึง', 'เรื่อง', 'ดูดพอต', 'มอ', ...          3
96  ['รุ่น', 'พี่', 'CE', 'แนะนำ', 'เรียน', 'สังคม...          3
97  ['Iphone', 'ทิ้ง', 'ห้องน้ำ', 'ชาย', 'ฝาก', 'ป...          3
98  ['แอร์พอต', 'เจน', '2', 'ขวา', 'ร่วง', 'มอบ้าง...          0
99  ['สอบถาม', 'วิชา', 'เสรี', 'science', 'daily',...          3

[100 rows x 2 columns]

Check label

In [7]:
df.to_csv("check_label.csv")

add checked csv

In [14]:
df = pd.read_csv('check_label.csv', index_col=0)
df

                                                 text  post_type
0   ['อัพเดท', '01082022', 'แผนที่', 'เดิม', 'ลอง'...          3
1   ['ขายคีย์บอร์ด', 'Maxfit108', 'ราคา', '1000', ...          1
2                           ['ประกาศ', 'ชื่อ', 'น้า']          3
3   ['แนว', 'ข้อ', 'สอบ', 'รอบ', 'สอบตรง', 'สำหรับ...          3
4                 ['หา', 'เพื่อน', 'ติว', 'แมท', '2']          3
..                                                ...        ...
95  ['รบกวน', 'นิดนึง', 'เรื่อง', 'ดูดพอต', 'มอ', ...          3
96  ['รุ่น', 'พี่', 'CE', 'แนะนำ', 'เรียน', 'สังคม...          3
97  ['Iphone', 'ทิ้ง', 'ห้องน้ำ', 'ชาย', 'ฝาก', 'ป...          0
98  ['แอร์พอต', 'เจน', '2', 'ขวา', 'ร่วง', 'มอบ้าง...          0
99  ['สอบถาม', 'วิชา', 'เสรี', 'science', 'daily',...          3

[100 rows x 2 columns]

-------------------------------------------

Add second data frame

In [15]:
df2 = pd.read_csv('new_data.csv', index_col=0)
df2

     post_type                                               text
0            3  ['หา', 'สัญญา', 'หอ', 'มจพ', 'ย้าย', 'ปลาย', '...
1            1  ['ขาย', 'ตั๋วหนัง', 'black', 'panther', 'โรง',...
2            1  ['กระโปรง', 'ศึกษา', 'เอว', '24', '28', 'เอว',...
3            1  ['อนุญาต', 'ขาย', 'ขาย', 'ตู้', 'เย็น', 'Midea...
4            1  ['XX', 'คน', 'เช่า', 'XX', 'อนุญาต', 'ประกาศ',...
..         ...                                                ...
849          3  ['สอบถาม', 'เอกสาร', 'เบิก', 'เทอม', 'ปี', '58...
850          3  ['แถว', 'มอ', 'ร้าน', 'ถ่าย', 'รูป', 'ศึกษา', ...
851          3  ['รบกวน', 'นิดนึง', 'เรื่อง', 'ดูดพอต', 'มอ', ...
852          0  ['แอร์พอต', 'เจน', '2', 'ขวา', 'ร่วง', 'มอบ้าง...
853          3  ['พี่', 'รี', 'วิว', 'วิชา', 'สาขา', 'เซรามิก'...

[854 rows x 2 columns]

APPEND 2 data frame

In [16]:
append_data = df2.append(df,ignore_index = True)
append_data.shape

C:\Users\Corgi\AppData\Local\Temp\ipykernel_4500\556518295.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  append_data = df2.append(df,ignore_index = True)

(954, 2)

In [19]:
append_data

     post_type                                               text
0            1  ['หา', 'สัญญา', 'หอ', 'มจพ', 'ย้าย', 'ปลาย', '...
1            1  ['ขาย', 'ตั๋วหนัง', 'black', 'panther', 'โรง',...
2            1  ['กระโปรง', 'ศึกษา', 'เอว', '24', '28', 'เอว',...
3            1  ['อนุญาต', 'ขาย', 'ขาย', 'ตู้', 'เย็น', 'Midea...
4            1  ['XX', 'คน', 'เช่า', 'XX', 'อนุญาต', 'ประกาศ',...
..         ...                                                ...
910          3  ['บุญ', 'เบื้องหลัง', 'สุข', 'สำเร็จ', 'ชีวิต'...
911          0  ['เจอ', 'กุญแจ', 'มอไซต์', 'xmax', 'สี', 'ดำ',...
912          1                ['มอ', 'แมลง', 'ทอด', 'ขาย', 'กิน']
913          3  ['ผม', 'สอบถาม', 'พี่', 'สำหรับ', 'PnET', 'PE'...
914          3  ['อนุญาต', 'สอบถาม', 'แถว', 'มอเรา', 'คลินิก',...

[915 rows x 2 columns]

Drop duplicate before save

In [18]:
append_data.drop_duplicates(subset='text',keep='last', inplace=True,ignore_index = True)
append_data.shape

(896, 2)

Save to csv

In [20]:
append_data.to_csv("new_data.csv",index=False)